.patrat {
    width: 200px;
    height: 200px;
    background-color: rgb(82, 70, 51);
}


.switch{
    width: 200px;
    height: 200px;
    background-color: fuchsia;
}

.patrat2{
    width: 200px;
    height: 200px;
    background-color: burlywood;
}

.switch2{
    width: 200px;
    height: 200px;
    background-color: hotpink;
}